.leftTable{
    border-right: solid thin black;
}
.emptyTable{
    padding-bottom: 30px;
}
.filteredTables{
    margin-top: 30px;
}
.AllMarketTable{
    margin-top: 30px;
}

@media screen and (max-width: 600px) {
    .table{
        font-size: smaller;
    }
    .leftTable{
        border-right: none;
    }
}