.championsTable{
    border-right: solid thin black;
}
.filteredTables{
    margin-top: 30px;
}

.titleBar{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 10px;
    padding-left: 30px;
    height: 70px;
}
.titleBar .timeSpendDiv{
    margin-right: 30px;
}
.settingsBar{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    /* height: 300px; */
    background-color: rgba(0, 0, 0, 0.7);
}
.settingsBar h2{
    color:whitesmoke;
    padding-right: 30px;
    border-right: whitesmoke solid thin;
}
.settingsBar .barHeader{
    color: whitesmoke;
    display:flex;
    align-items: center;
    text-align: left;
    margin-left: 30px;
}
.settingsBar .currentValues{
    margin-left: 30px;
}
.settingsBar .barItems{
    display:flex;
    align-items: top;
    text-align: center;
    margin-right: 30px;
}
.settingsBar .setSymbol{
    color:whitesmoke;
    /* background-color: red; */
    margin-right: 20px;
}
.settingsBar .setSymbol{
    font-weight: bold;
}
.settingsBar .setDelay{
    /* background-color: blue; */
    margin-right: 40px;
}
.settingsBar .setDelay label{
    font-weight: bold;
    color:whitesmoke;
}
.settingsBar .setDelay input{
    width: 40vh;
    /* margin-top:5px;
    margin-bottom:5px; */
    margin-right: 3px;
}

.settingsBar .setSubmit{
    width: 80px;
    margin-top:20px;
    margin-bottom:20px;
}
.golden{
    color: rgb(255, 208, 0);
}
#initialLoading{
    margin-top: 150px;
    text-align: center;
}
