#initialLoading{
    margin-top: 150px;
    text-align: center;
}

.PriceTablesGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns : 1fr 1fr;
    grid-auto-rows: 710px;
    grid-gap: 30px;
    margin: auto;
    align-items: top;
}

@media screen and (max-width: 1000px) {
    .PriceTablesGrid{
        grid-template-columns : 1fr;
    }
}